.gallery__img {
  display: block;
  margin: 15px;
  width: 1200px;
  border: 2mm ridge rgba(170, 50, 220, 0.6);
  /* border: dashed  chocolate; */
  border-radius: 10px 100px / 120px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}
#validation-input.valid {
  border-color: #4caf50;
}
#validation-input.invalid {
  border-color: #f44336;
}
